<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>ChorePal needs camera access to take photos of completed tasks for parent approval.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ChorePal needs photo library access to save and upload task completion photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>ChorePal needs permission to save photos to your library.</string>
</dict>
</plist>
